@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;

}

section{
    scroll-snap-align: start;
    opacity: 0;
    transform: translateY(100px);
    filter: blur(3px);
    transition: all 2s ease;
   
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.div-rectangle{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #f4f4f4;
    z-index: -1;
    
    transform: rotate(60deg) scale(1.5);
}
.div-scroller{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 1rem;
}
.scroller-item{
    flex: 1 0 33%;
    background-color: #f4f4f4;
}

.productInfo-items{
    flex: 1 0 10%;
    height: 50px;
    background-color: #f4f4f4;
}
.grid-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem;
}
.grid-card-items{
   background-color: #f4f4f4;

}

.cart-img{
    width: 50px;
    height: 50px;
}
.Carts-items-container{
    padding: 10px;
    max-height: 50vh;
    overflow: scroll;
}
.div-scroller::-webkit-scrollbar,
.Carts-items-container::-webkit-scrollbar{
    display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
@media (max-width:620px){
    .scroller-item{
        flex: 1 0 50%;
    }
    .nav-items .nav-span{
        display: none;
    }
}
